Public Class Form1
    'Code for my Dictionary form that I was able to create for a VB tutorial
    'I like VB and this was used in my Second year

    Dim Dict1 As Dictionary(Of Integer, String) ' integer and string are used in Dictionary
    Dim n = 0 ' assigning value to integer

    Private Sub Form1_Load(sender As System.Object, e As System.EventArgs) Handles MyBase.Load
        Dict1 = New Dictionary(Of Integer, String) ' creating a dictionary used in this program
    End Sub

    Private Sub Button1_Click(sender As System.Object, e As System.EventArgs) Handles Button1.Click
        n = n + 1 ' n incremented by 1
        Dict1.Add(n, TextBox1.Text) ' adding text to text box 1
    End Sub

    Private Sub Button2_Click(sender As System.Object, e As System.EventArgs) Handles Button2.Click
        Dim temp As String ' assigning temp file to string
        Dict1.TryGetValue(n, temp) ' getting value from n temp file
        Label1.Text = temp
    End Sub
End Class
